Repository cryostatio/cryostat-grafana-dashboard, pull requests merged in 2023-02, with the labels that each got.

#21 fix(dashboard): use fixed text color for stat panels
  dashboards/main.dashboard.json
Labels: fix

#20 feat(ini): allow embedding
  grafana.ini
Labels: feat

#22 ci(deps): add Dependabot config
  .github/dependabot.yml
  Dockerfile
  build.sh
Labels: ci
